SUPABASE_URL=https://orqipfphqlapuyxnkbko.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ycWlwZnBocWxhcHV5eG5rYmtvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwNzE1NDEsImV4cCI6MjA3OTY0NzU0MX0.Hx98HFnRprqAw3SAF9p-ldJQFsWeSQy8aWHdOuya1QA
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ycWlwZnBocWxhcHV5eG5rYmtvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDA3MTU0MSwiZXhwIjoyMDc5NjQ3NTQxfQ.FRprsaA2rsxsSC0545kz6rlfY3U_Hq6of5Ox26QW2dY
SUPABASE_DB_PASSWORD=N3Xen0ra123.
DATABASE_URL="postgresql://postgres:N3Xen0ra123.@db.orqipfphqlapuyxnkbko.supabase.co:5432/postgres"
PROJECT_ID=orqipfphqlapuyxnkbko
